@font-face {
  font-family: "Stanford";
  src: url("https://www-media.stanford.edu/assets/fonts/stanford.woff") format('woff2'),
    url("https://www-media.stanford.edu/assets/fonts/stanford.ttf") format('truetype');
}

.su-global-footer {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.2rem;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #b1040e;
}

.su-global-footer__container {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  box-sizing: inherit;
  margin: 0 auto;
  max-width: 1500px;
  width: calc(100% - 200px);
  display: flex;
}

.su-global-footer__brand {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  box-sizing: inherit;
  padding-top: rem;
  text-align: center;
  margin-bottom: 0.3rem;
}

.su-logo {
  -webkit-text-size-adjust: 100%;
  text-align: center;
  box-sizing: inherit;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  font-family: Stanford, "Source Serif Pro", Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: .75;
  /* transform: translateZ(0); */
  letter-spacing: 0;
  font-feature-settings: "liga";
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 2.2rem;
}

.su-global-footer__content {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  box-sizing: inherit;
  -webkit-box-flex: 1;
  flex-grow: 1;
  padding-left: 4rem;
}

.su-global-footer__content nav {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -webkit-box-pack: center;
  justify-content: center;
  display: block;
  margin-bottom: 0.6rem;
}

.su-global-footer__menu--global {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  box-sizing: inherit;
  margin: 0 0 1rem;
  padding: 0;
  list-style-type: none;
  font-size: 1.1rem;
}

.su-global-footer__menu--global li {
  -webkit-text-size-adjust: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  list-style-type: none;
  font-size: 1.1rem;
  box-sizing: inherit;
  margin: 0;
  display: inline-block;
  line-height: 1.1;
  margin-right: 2.1rem;
  padding: 0;
  text-align: left;
}

.su-global-footer__menu--global li a {
  -webkit-text-size-adjust: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  list-style-type: none;
  font-size: 1.1rem;
  line-height: 1.1;
  text-align: left;
  box-sizing: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.su-global-footer__menu--policy {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  box-sizing: inherit;
  margin: 0 0 1rem;
  padding: 0;
  list-style-type: none;
  font-size: 0.9rem;
}

.su-global-footer__menu--policy li {
  -webkit-text-size-adjust: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  list-style-type: none;
  font-size: 0.9rem;
  box-sizing: inherit;
  margin: 0;
  display: inline-block;
  line-height: 1.1;
  margin-right: 2.1rem;
  padding: 0;
  text-align: left;
}

.su-global-footer__menu--policy li a {
  -webkit-text-size-adjust: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  list-style-type: none;
  font-size: 0.9rem;
  line-height: 1.1;
  text-align: left;
  box-sizing: inherit;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

.su-global-footer__copyright {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  box-sizing: inherit;
  font-size: 0.7rem;
  text-align: left;
}

@media screen and (max-width: 1199px) {
  .su-global-footer {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1.8rem;
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    background-color: #b1040e;
  }

  .su-global-footer__container {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    box-sizing: inherit;
    margin: 0 auto;
    max-width: calc(100% - 40px);
    width: calc(100% - 40px);
    display: block;
  }

  .su-global-footer__brand {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1.8rem;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    box-sizing: inherit;
    padding-top: .5rem;
    text-align: center;
    margin-bottom: .9rem;
  }

  .su-global-footer__content {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1.8rem;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    box-sizing: inherit;
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: center;
  }

  .su-global-footer__content nav {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1.8rem;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    text-align: center;
    box-sizing: inherit;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -webkit-box-pack: center;
    justify-content: center;
    display: block;
    margin-bottom: 1.3rem;
  }

  .su-global-footer__menu--global {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    text-align: center;
    box-sizing: inherit;
    margin: 0 0 1rem;
    padding: 0;
    list-style-type: none;
    font-size: 1.7rem;
  }

  .su-global-footer__menu--policy {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    text-align: center;
    box-sizing: inherit;
    margin: 0 0 1rem;
    padding: 0;
    list-style-type: none;
    font-size: 1.5rem;
  }

  .su-global-footer__copyright {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    box-sizing: inherit;
    font-size: .8rem;
    text-align: center;
  }
}